:root {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
--color-font-primary-light: #ffffff;
--color-font-primary-dark: #000000;
--color-background-primary-light: #f7f1ed;
--color-background-primary-dark: #19100b;
--color-content-background-light: #efe4dc;
--color-content-background-dark: #231810;
--color-sidebar-background-primary: #8d5e3f;
--color-sidebar-background-secondary: #6a472f;
--color-sidebar-dropdown: #462F20;

--coffee-bean: #7f5539ff;
--camel: #a68a64ff;
--almond-cream: #ede0d4ff;
--dusty-olive: #656d4aff;
--ebony: #414833ff;

}

body {
    background-color: var(--color-background-primary-light);
}
main {
    background-color: var(--color-content-background-light);
    border-radius: 20px;
}
aside {
    background-color: var(--color-sidebar-background-primary);
    color: var(--color-font-primary-light);
}
.subtitle {
    color: var(--color-content-background-light);
}
.button-title {
    color:var(--dusty-olive);
    font-weight: 700;
}

.to-contacts_container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 35%;
    padding: 1rem;
    border-radius: 16px;
    border-color: var(--ebony);
}
.main-text-container {
    padding: 0.5rem;
}
.profile-image {
    background-color: var(--color-background-primary-light);
    color: black;
    border-style: dashed;
    border-color: black;
    width: 225px;
    height: 250px;
    align-self: center;
    justify-self: center;
    border-radius: 20px;
    text-align: center;
}
.dropdown-btn {
    border: none;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    gap: 2rem;
    padding: 2rem 5rem;
    display: flex;
}
.sidebar {
    height: fit-content;
}
.content {
    height: fit-content;
    box-shadow: 0px 10px 50px lightgrey;
}
.dropdown-container {
    margin: 0;
    inset: auto;
    top: calc(anchor(bottom));
    justify-self: anchor-center;
    width: anchor-size(width);
    border: 0;
    border-radius: 10px;
    padding: 0;
    background-color: var(--color-background-primary-light);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dropdown-popover {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.dropdown-popover > a {
    text-decoration: none;
    color:#000000;
    padding: 1rem;
}
.dropdown-popover > a:hover {
    background-color: var(--color-content-background-light);
    border-radius: 10px;
}
.content {
    padding: 0.5rem;
}
.sidebar {
    display: grid;
    width: 80dvh;
    padding: 1rem;
    border-radius: 20px;
}
.sidebar-top {
    display: flex;
    flex-direction: column;
}
.profile {
    padding-left: 0.5rem;
}

.sidebar-nav .sidenav {
    display: grid;
}

.footer-container {
    padding: 2rem 5rem;
}

.navbtn {
    text-align: center;
    padding: 1rem;
    background-color: var(--color-sidebar-background-secondary);
    text-decoration: none;
    color: var(--color-font-primary-light);
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight:600;
}

.profile h1 {
    margin-bottom: 0;
}
.profile .subtitle {
    margin-top: 0;
}